@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #424242;
  --secondary-dark: #80868F;
  --primary-light: #EFF7FC;
  --secondary-light: #D7E5EA;
}

html {
  font-family: var(--font-primary), sans-serif;
}

body {
  background: var(--primary-light);
}

@layer base {
  h1 {
    @apply font-bold text-black text-[32px];
  }
  
  h2 {
    @apply font-bold text-black text-2xl;
  }

  h3,
  .stilised-h3 {
    @apply font-bold text-black text-xl;
  }

  .stilised-p-500 {
    @apply font-medium text-black text-base;
  }

  h1.page-heading {
    @apply font-bold text-black text-[44px];
  }

  button {
    @apply block;
  }
}

@layer components {
  .component-shadow {
    filter: drop-shadow(4px 0px 4px rgba(0,0,0,0.25));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
